@font-face {
    font-family: 'Maiainfografias';
    font-style: normal;
    font-weight: normal;
    src: url('Maiainfografias.ttf');
    }
  

/* font-family: 'Montserrat', sans-serif;
font-family: 'Tinos', serif; */
/* font color:
 color rosa: #FF88C4;
hover: #6e1341 
active: #e5b5cd
color turquesa: #36BFE3
*/
html{
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
}

body {
    margin: 0;
    background-color: #ffffff;
}


.darkMode{
    background-color: #1F2626;
}



.font {
    font-family: 'Maiainfografias';
    /* font-family: 'Montserrat'; */
    font-style: normal;
    /* font-weight: 400; */
    font-size: 1.3em;
    line-height: 25px;
}


.fontColorLightMode{
    color: #1F2626;
}

.fontColorPink{
    color: #FF88C4;
}

.fontColorTurquoise{
    color: #36BFE3;
}

.fontColorDarkMode{
    color: #b4e8f5;
}

button{
  line-height: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

.hidden{
    display: none;
}





li {
    list-style-type: none;
    height: 50px;
}



a {
   text-decoration: none;
}



@media screen and (min-width: 768px){
    .fontColorWhite{
        color: #ffffff;
    }

    .fontColorHeaderDark{
        color: #1F2626;
    }

    .hamb-menuDark{
        background-color: #36BFE3;
    }

}


@media screen and (min-width: 1200px){
    .font{
        font-size: 1.4em;
        line-height: 30px;
    }
    

}

@media screen and (min-width: 1400px){
    .font{
     
        line-height: 40px;
    }
}