.imageContainer {
    margin: 30px auto 60px;
    width: 300px;
    padding: 20px;
    border: 0.5px solid rgb(248, 181, 195);
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.imageContainerDarkM{
    border: 0.5px solid #36BFE3;
}

.rowImage{
justify-content: center;
}

.image {
    text-align: center;
}

.titleProj{
    margin-bottom: 20px;
    border-width: 0 0 0.5px;
    border-style: solid;
    border-color: rgb(248, 181, 195);
}

.titleProjDark{
    border-color: #36BFE3;
}

.modalHeader {
    padding: 1rem 1rem;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
}

.modalImg{
    width: 100%;
}

.modalBtns {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom-right-radius: calc(.3rem - 1px);
    border-bottom-left-radius: calc(.3rem - 1px);
}

.btnLightMode{
    background-color:  rgb(247, 217, 223);
    margin-bottom: 10px;
}

.btnDarkMode{
    background-color:  rgb(216, 246, 249);
    margin-bottom: 10px;
}

.btnCloseContainer {
    display: flex;
    justify-content: flex-end;
}

.btnX {
    padding: 1rem;
}

.btnXDarkMode{
    filter: invert(78%) sepia(12%) saturate(5524%) hue-rotate(157deg) brightness(91%) contrast(94%);
}

