.imageContainer {
    margin: 30px auto 60px;
    width: 90%;
    padding: 20px;
    border: 0.5px solid rgb(248, 181, 195);
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.image {
    text-align: center;

}

.titleProj{
    margin-bottom: 20px;
    border-width: 0 0 0.5px;
    border-style: solid;
    border-color: rgb(248, 181, 195);
}

.modalHeader {
    padding: 1rem 1rem;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
}

.modalImg{
    width: 100%;
}

.modalBtns {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom-right-radius: calc(.3rem - 1px);
    border-bottom-left-radius: calc(.3rem - 1px);
}

.btnCloseContainer {
    display: flex;
    justify-content: flex-end;
}

.btnX {
    padding: 1rem;
}

.btnXDarkMode{
    filter: invert(78%) sepia(12%) saturate(5524%) hue-rotate(157deg) brightness(91%) contrast(94%);
}

/* .btnXDarkMode:hover{
    color: aliceblue;
} */